<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Calculator" parallel="methods" thread-count="3">
  <test name="MultAndDiveTest" >
    <classes>
       <class name="tests.MultAndDiveTest" />
    </classes>
  </test>
    <test name="PositiveNegativeTest" >
    <classes>
       <class name="tests.PositiveNegativeTest" />
    </classes>
  </test>
  <test name="SumAndSubCalculationTest" >
    <classes>
       <class name="tests.SumAndSubCalculationTest" />
    </classes>
  </test>
    <test name="TrigonometryTest" >
    <classes>
       <class name="tests.TrigonometryTest" />
    </classes>
  </test>
</suite>