<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Calculator tests">
<test name = "Math Operations Test">
<groups>
<run>
<include name="Math operations"/>
</run>
</groups>
<classes>
<class name = "by.epam.cdp.java.moduletesting.BasicOperationsTests" />
<class name = "by.epam.cdp.java.moduletesting.NumberOperationsTests" />
</classes>
</test>
</suite>  	
